services:
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile.prod

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf

  db:
    image: postgres:16