parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\Auth\Application\:
        resource: '../src/Auth/Application/'

    App\Auth\Infrastructure\:
        resource: '../src/Auth/Infrastructure/'
